<nav class="navbar navbar-default">
        <div class="container-fluid">
            

            <div class="navbar-header">
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <i class="glyphicon glyphicon-align-left"></i>
                    
                </button>

                </div>


                

                <a> <span style="display:inline-block; width: 75px;"></span>  <img src="assets/logo.png" width="50px" /> SFT Pro</a>

                <ul class="nav navbar-nav navbar-right">
                       
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="#">Welcome User</a></li>
                            
                            <li><a href="#">Logout</a></li>
                 </ul>
                        </li>
                      </ul>

                

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               
            </div>

            
        </div>
    </nav>


    <div class="wrapper">

     

  <!-- Sidebar Holder -->
  <nav id="sidebar">
     

      <ul class="list-unstyled components">
          <li class="#  ">
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                  <i class="glyphicon glyphicon-home"></i>
                  Dashboard
              </a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                  <li><a href="#">Device Management</a></li>
                 
              </ul>
          </li>
          <!-- <li>
              <a href="#">
                  <i class="glyphicon glyphicon-briefcase"></i>
                  Rule Management
              </a>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                  <i class="glyphicon glyphicon-duplicate"></i>
                  Pages
              </a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li><a href="#">Page 1</a></li>
                  <li><a href="#">Page 2</a></li>
                  <li><a href="#">Page 3</a></li>
              </ul>
          </li>
          <li>
              <a href="#">
                  <i class="glyphicon glyphicon-link"></i>
                  Portfolio
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="glyphicon glyphicon-paperclip"></i>
                  FAQ
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="glyphicon glyphicon-send"></i>
                  Contact
              </a>
          </li> -->
      </ul>

     
  </nav>

  <!-- Page Content Holder -->
  <div id="content">


    <app-device-management></app-device-management>

      
  </div>
</div>
